<div class="jumbotron text-center">
    <div class="container">
        {{vm.message}}
        <h2>Add Student</h2>
        <form name="studentForm" ng-submit="vm.submitForm()">
            <div class="form-group">
                <label for="Name">Name:</label>
                <input type="text" class="form-control" id="Name" placeholder="Enter Name" ng-model="vm.student.Name" required>
            </div>
            <div class="form-group">
                <label for="Fname">Fathers Name</label>
                <input type="text" class="form-control" id="Fname" placeholder="Enter Fathers Name" ng-model="vm.student.Fname" required>
            </div>
            <div class="form-group">
                <label for="Mname">Mothers Name</label>
                <input type="text" class="form-control" id="Mname" placeholder="Enter Mothers Name" ng-model="vm.student.Mname" required>
            </div>
            <div class="form-group">
                <label for="Class">Class</label>
                <input type="text" class="form-control" id="Class" placeholder="Enter Class" ng-model="vm.student.Class" required>
            </div>
            <div class="form-group">
                <label for="AdmissionYear">Admission Year</label>
                <input type="text" class="form-control" id="AdmissionYear" placeholder="Enter Admission Year" ng-model="vm.student.AdmissionYear" required>
            </div>
            <div class="form-group">
                <label for="LastYearResult">Last Year Result</label>
                <input type="text" class="form-control" id="LastYearResult" placeholder="Enter Last Year" ng-model="vm.student.LastYearResult" required>
            </div>
            <div class="form-group">
                <label for="Address">Home Address</label>
                <input type="text" class="form-control" id="Address" placeholder="Enter Address" ng-model="vm.student.Address" required>
            </div>
            <div class="form-group">
                <label for="Contact">Contact No.</label>
                <input type="text" class="form-control" id="Contact" placeholder="Enter Contact No." ng-model="vm.student.Contact" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>