<div class="jumbotron text-center">
    <div class="container">
        <h2>All Students</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Class</th>
                <th>Admission Year</th>
                <th>Father's name</th>
                <th>Mother's Name</th>
                <th>id</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in vm.students">
                <td>
                    <a ui-sref="singleStudent({studentId:student._id})">
                    {{student.Name}}</a>
                </td>
                <td>{{student.Class}}</td>
                <td>{{student.AdmissionYear}}</td>
                <td>{{student.Fname}}</td>
                <td>{{student.Mname}}</td>
                <td>{{student._id}}</td>
                <td><button class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-danger" ng-click="vm.deleteStudent(student._id)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
